#pop {
    margin-top: 70px;
    display: flex;
    align-items: center;
    padding: 40px;
}

#com {
    text-align: right;
    padding: 40px 100px;
}

#fo {
    font-size: 1.3em;
}
.pala{
    margin:15px 180px 15px;
    background-color:#ffecd1;
    padding:20px;
    border-radius:15px;
    display:flex;
    align-items:center;
}
#meals > div {
    background-color: white;
    display: flex;
    margin: 20px;
    flex-direction: column;
    position: relative;
    padding: 5px;
}


#codar {
        margin: auto;
        width: 80%;
    color: #fb9300;
    font-size: 1.3em;
    }
.coo {
    width: 80%;
    margin: auto;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  #fo {
        text-align: center;
    }


@media screen and (max-width: 400px) {
    .pala{
        margin:15px 50px 15px;
    }

    #pop {
        flex-direction: column;
    }

  
    #com {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .pad {
        padding: 5px;
    }

    #meals > div {
        margin: 0;
    }
}
