#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 40px;
    position: relative;
    background-color: #fff;
    position: fixed;
    top:0;
    width:100%;
    margin-bottom: 50px;
    z-index: 50;
}

.pl{
    display:flex;
    align-items:center;
    margin-right:20px;
}

#header img,#header i{
    margin:0 10px;
    cursor: pointer;
}

#header i{
    font-size: 1.3em;
    color:gray;
}

#perso span{
    background-color: white;
    color:#000;
    box-shadow: none;
    font-size: 0.8em;
    width: 100%;
    border-radius:0px;
    padding: 6px 10px;
}

#perso span:hover{
    color:#fb9300;
    cursor: pointer;
}
.overlay{
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index:1450;
    position: fixed;
    top:0;
    bottom:0;
}
.form{
    background-color: rgb(255, 255, 255);
    opacity: 1;
    width: 60%;
    height: 250px;
    z-index:1520;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px; 
}
.form23{
    background-color: rgb(255, 255, 255);
    opacity: 1;
    width: 60%;
    height: fit-content;
    z-index:1600;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px; 
}
.formcontact{
    background-color: rgb(255, 255, 255);
    opacity: 1;
    width: 60%;
    height: fit-content;
    z-index:1910;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px; 
}

.formcontact textarea{
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1.5em;
    outline: none;
}
.formcontact textarea:hover{
    border: 1px solid #fb9300;
}

.message{
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 1;
    z-index: 100;
}

@keyframes fadeIn {
  to {
    opacity: 0;
  }
}
.fa-trash:hover{
    color:#fb9300;
    cursor: pointer;
}

#restaurants{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    z-index: 0;
    position: relative;
}
#meals{
    display: flex;
    margin-top: 50px;
    overflow-x: auto;
}
.check{
    transition: box-shadow 1s;
}
.check:hover{
    cursor: pointer;
    box-shadow: 0 0 4px #fb9300;
}

#meals::-webkit-scrollbar {
  height: 8px;
}

#meals::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

#meals::-webkit-scrollbar-thumb {
  background-color: #fb9300;
  border-radius: 10px;
}
.buy{
    cursor: pointer;
    padding:5px;
    font-size:1.9em;
    color:white;
    margin-right:15px;
    border-radius:50%;
    background-color:#fb9300;
    box-shadow: 0 0 1px #fb9300;

}
.buy:hover{
    box-shadow: unset;
}
#near{
        display:flex;
        justify-content:space-between;
        align-items: center;
    }
    select{
        font-size: 1.1em;
    padding: 20px 10px;
    outline: none;
    border: none;
    border-radius: 40px;
    }
    #select{
        text-align:center;
        padding:50px 0;
        height:170px;
        background-color:#ffecd1;
    }
    .form{
        height: fit-content;
        width: 90%;
    }
    #close1{
        cursor:pointer;
        position:absolute;
        right:40px;
        top:50px;
    }
    select:focus,select:hover{
        outline: none;
        border:none;
    }
    #cate{
        padding:20px;
    }
    #no{
        width: 300px;
    }
    .meal{
        background-color:white;
        display:flex;
        margin:20px;
        flex-direction:column;
        position:relative;
    }
    #notifi{
        width:300px;
        overflow-y:auto;
        max-height:400px;
        background-color:white;
        box-shadow:0 0 5px gray;
        position:absolute;
        right:50px;
        top:65px;
    }
    #imgFall{
        width: 250px;
    }
    .cart{
        padding:12px;
        background-color:white;
        box-shadow:0 0 5px gray;
        position:absolute;
        right:100px;
        width: 300px;
        text-align: center;
        top:65px;
    }
    #op{
        display:flex;
        width:100%;
    }
    #po{
        background-color:white;
        padding:30px;
        border:1px solid #DDD;
        margin:30px;
        width:50%;
    }
    #lo{
        background-color:white;
        height:500px;
        overflow-y:auto;
        border:1px solid #DDD;
        padding:30px;
        margin:30px;
        width:50%;
    }
    .lop{
        display:flex;
        justify-content:space-between;
    }
    #close3{
        cursor:pointer;
        position:absolute;
        right:40px;
        top:50px;
    }
    #fall{
        text-align: center;
    }
#ftg{
    padding:12px;
    background-color:white;
    box-shadow:0 0 5px gray;
    position:absolute;
    right:100px;
    top:65px;
    width: 300px;
}
@media all and (max-width:400px){
    #ftg{
        right:30px;
        padding:12px;
    }
    .lop{
        flex-direction: column;
        align-items: center;
    }
    .form{
        position: fixed;
    }
    select{
        width:100%;
    }
    #close3{
        top:20px;
    }
    #lo{
        width: 100%;
        margin: 20px 0;
        height: fit-content;
    }
    #po{
        width: 100%;
        margin: 20px 0;
    }
    leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom{
        height: 350px;
    }
    #op{
        flex-direction: column;
    }
    .cart{
        right: 30px;
    }
    #imgFall{
        width: 150px;
    }
    
    .meal{
        margin: 10px;
    }
    #near{
        display:flex;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
    }
    select{
    outline: none;
    border: none;
    font-size: 0.8em;
    border-radius: 40px;
    }
    #select{
        text-align:center;
        padding:50px 0;
        height:170px;
        background-color:#ffecd1;
    }
    .form{
        height: fit-content;
        width: 90%;
    }
    #close1{
        cursor:pointer;
        position:absolute;
        right:40px;
        top:20px;
    }
    body{
        overflow-y:unset ;
    }
    #cate{
        padding:10px;
        text-align: center;
    }
    #restaurants #no{
        width:200px;
    }
    #header img{
        margin:0px;
    }
    #header{
        padding: 15px;
    }
    .formcontact{
        position: fixed;
        top: 50%;
        width: 90%;
    }
    .pl{
        margin-right: 0px;
    }
}

