header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    background-color: #fff;
}
header span{
    margin-right: 20px;
    background-color: #fb9300;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    color:#fff;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 8px rgba(251, 147, 0,0.5);
}
header span i{
    margin-right: 5px;
}
body{
    background-color: #fafafb;
}
main{
    display: flex;
    justify-content: center;
}
main > div{
    text-align: center;
    background-color: #fff;
    margin-top: 50px;
    padding: 20px;
    width: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0,0.1);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div > p{
    padding-top: 10px;
    font-size: 2em;
    font-weight: bolder;
}

form{
    text-align: left;
    padding: 20px;
    width: 100%;
}
label{
    margin:0 0 7px;
    display: inline-block;
}
input[type='text'],input[type='number'],input[type='email'],input[type='password']{
    width:100%;
    font-size: 1.1em;
    outline: none;
    border: 1px solid gainsboro;
    padding: 10px 10px;
    border-radius: 5px;
}

input[type='text']:hover,input[type='number']:hover,input[type='email']:hover,input[type='password']:hover{
    border: 1px solid #fb9300;
}
.forgot{
    text-align: right;
    margin-top: 15px;
    color: rgba(0, 162, 255, 0.829);
}
.up{
    text-align: center;
    margin-top: 15px;
    color: gray;
}
.up span{
    color: rgba(0, 162, 255, 0.829);
}
a,a:visited{
    text-decoration: none;
}
.up:hover{
    text-decoration: underline;
    cursor: pointer;
}
input[type='checkbox']{
    margin-right: 5px;
}
#login{
    padding: 10px 25px;
    font-size: 1.3em;
    border-radius: 7px;
    background-color: rgba(251, 147, 0,0.2);
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 12px rgba(0, 0, 0,0.1);
}

#back{
    padding: 10px 25px;
    font-size: 1.3em;
    border-radius: 7px;
    background-color: white;
    border: none;
    outline: none;
    color: #000;
    cursor: pointer;
    box-shadow: 0px 0px 12px rgba(0, 0, 0,0.1);
    border: 1px solid black;
}

#main{
    height: 100%;
    margin-bottom: 50px;
}
#reset{
    height:100vh !important;
}
@media screen and (max-width:900px) {
    main>div{
        width:70%;
    }
}
@media screen and (max-width:570px) {
    main>div{
        width:90%;
    }
}
@media screen and (max-width:400px) {
    .forgot{
        margin-top:0;
    }

    #reset>div{
    width:80% !important;
}
}

