header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 15px;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0,0.2);
}
header span{
    margin-right: 20px;
    background-color: #fb9300;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    color:#fff;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 8px rgba(251, 147, 0,0.5);
}
header span i{
    margin-right: 5px;
}
body{
    background-color: #fafafb;
}
#mainn>div{
    width: 80%;
    margin: 50px auto;
    text-align: left;
}
#type> p:hover{
    cursor: pointer;
    box-shadow: 0px 0px 12px rgba(0, 0, 0,0.1);
}
